
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> Tumor targeting drug</title>
 <script type="text/javascript" src="/static/js/echarts.min.js"></script>
</head>
<body>
    
      <table border="0" >
	
	
      <caption><h2> Tumor targeting drug</h2> </caption>
	<tr>
	
	<td> <a href="http://127.0.0.1:8000/search-drugUrls"><input type="submit" value=" 药物名称搜集"></a></td>
	
	<td> <a href="http://127.0.0.1:8000/getgeneraldrug"><input type="submit" value="药物知识搜集 "></a></td>

	<td> <a href="http://127.0.0.1:8000/show-drugBaikeFeature"><input type="submit" value="查看药物知识 "></a></td>

	<td> <a href="http://127.0.0.1:8000/EchartDrugInfo"><input type="submit" value="药物统计 "></a></td>
	<td> <a href="http://127.0.0.1:8000/manage-drug"><input type="submit" value="药物数据库操作 "></a></td>
	</tr>
	
	
	
	</tr>
	



</table>
    {% block mainbody %}
       
    {% endblock %}
</body>
</html>
