{% extends "base.html" %}
 
{% block mainbody %}
  <form action="/delete-procDrug" method="get">
  	<ul>
	    <li> <input type="submit" value="deleteDrug"></li>
	</ul>

  </form>

    <form action="/
delete-procLocalUrl" method="get">
  	<ul>
  	      <li> Local 	File 	Postion<input type="text" name="localPosion"}></li>
	    <li> <input type="submit" value="delete Local File"></li>
	</ul>

  </form>


 <form action="/add-procDrugUrl" method="get">
  	<ul>
  	    
	    <li> drugUrl<input type="text" name="drugUrl"}></li>
	    <li> UrlDescribe<input type="text" name="UrlDescribe"}></li>
	    <li> <input type="submit" value="add   Searched   Url  To   Mysql"></li>
	</ul>

  </form>

  

{% endblock %}