{% extends "base.html" %}
 
{% block mainbody %}
<table border="1" >
	<caption>搜索引擎搜索</caption>
	<tr>
	<td>search 	ENGINE</td>
	<td>KEY 	WORDS</td>
	<td>START	SEARCH</td>
	</tr>

	<tr>
	<form action="/search-procUrls" method="get">
	<td><input type="text" name="url" value="http://weixin.sogou.com/  "></td>
	<td><input type="text" name="keyword"></td>
	<td> <input type="submit" value="搜狗微信搜索 "></td>
	</form>
	</tr>
	
	<tr>
	<form action="/search-procUrls" method="get">
	<td><input type="text" name="url" value="http://www.baidu.com/"></td>
	<td><input type="text" name="keyword"></td>
	<td> <input type="submit" value="Baidu"></td>
	</form>
	</tr>

	<tr>
	<form action="/search-procUrls" method="get">
	<td><input type="text" name="url" value="http://www.sogou.com/ "></td>
	<td><input type="text" name="keyword"></td>
	<td> <input type="submit" value="sogou"></td>
	</form>
	</tr>

	<tr>
	<form action="/search-procUrls" method="get">
	<td><input type="text" name="url" value="http://www.so.com/ "></td>
	<td><input type="text" name="keyword"></td>
	<td> <input type="submit" value="so"></td>
	</form>
	</tr>

	<tr>
	<form action="/search-procUrls" method="get">
	<td><input type="text" name="url" value="http://cn.bing.com/"></td>
	<td><input type="text" name="keyword"></td>
	<td> <input type="submit" value="bing"></td>
	</form>
	</tr>

	

	

  	
  	
  	<tr>
	<form action="/search-procUrls" method="get">
	<td><input type="text" name="url" ></td>
	<td><input type="text" name="keyword"></td>
	<td> <input type="submit" value="自定义搜索"></td>
	</form>
	</tr>


	</table>

 <table border="1" >
 	<caption>药品网站搜索</caption>
	<tr>
	<td>SEARCH 	URL</td>
	<td>DRUG	POSITION</td>
	<td>DRUG	DIVISION</td>
	<td>GET	DRUG</td>
	</tr>
	
	<tr>
	<form action="/search-procDrugName" method="get">
	<td>
	<a href="http://mp.weixin.qq.com/s/FFj-7dvWPJsUPojktW-qjQ"><input type="text" name="url" value="http://mp.weixin.qq.com/s/FFj-7dvWPJsUPojktW-qjQ">
	</a></td>
	<td><input type="text" name="postion"></td>
	<td><input type="text" name="divisioin"></td>
	<td> <input type="submit" value="getDrugName"></td>
	</form>
	</tr>

	<tr>
	<form action="/search-procDrugName" method="get">
	<td><a href="http://www.xty999.com/productlist.ac?category=10279&row=y" >
		<input type="text" name="url" value="http://www.xty999.com/productlist.ac?category=10279&row=y">
	</a></td>
	<td><input type="text" name="postion" value=""></td>
	<td><input type="text" name="divisioin" value=""></td>
	<td> <input type="submit" value="getDrugName"></td>
	</form>
	</tr>
	
  	<tr>
	<form action="/search-procDrugName" method="get">
	<td><input type="text" name="url" ></td>
	<td><input type="text" name="postion" ></td>
	<td><input type="text" name="divisioin" ></td>
	<td> <input type="submit" value="自定义getDrugName"></td>
	</form>
	</tr>
  	


</table>


{% endblock %}