{% extends "base.html" %}
 
{% block mainbody %}
  <form action="/down" method="get">

  	<table border="1">
  	<tr>
	<td>drugClass</td>
	<td>drugName</td>
	<td>drugByName</td>
	</tr>
  	{% for eachElem in drugList %}
	<tr>
	<td> <input type="text" name="drugClass" value={{ eachElem.drugClass }}></td>
	<td><input type="text" name="drugname" value={{ eachElem.drugname }}></td>
	<td><input type="text" name="drugByname" value={{ eachElem.drugByname }}></td>
	</tr>
	
	{% endfor %}
	<tr>
	<td><input type="submit" value="downloadDrug"></td>
	
	</tr>
	</table>
  	
  </form>
{% endblock %}