{% extends "base.html" %}
 
{% block mainbody %}
<!--   <form action="/down" method="get"> -->
  <form action="/getKeyWord" method="get">
KeyWordNum
  	<input type="text" name="keyWordNum" >
  	<input type="submit" value="getKeyWord">
  	
  	<table border="1">
  	<tr>
	<td>drugName</td>
	<td>feature</td>
	<td>featureContent</td>
	<td>KeyContent</td>
	</tr>
  	{% for eachElem in drugList %}
	<tr>
	<td> {{ eachElem.drugname }}</td>
	<td> {{ eachElem.featureName }}</td>
	<td><textarea >{{ eachElem.drugFeatureContent }}</textarea> </td>
	<td> {{ eachElem.drugFeatureKeyWords }}</td>
	
	</tr>
	
	{% endfor %}
	
	

	</table>

  </form>
{% endblock %}