{% extends "base.html" %}
 
{% block mainbody %}
<!--   <form action="/down" method="get"> -->
  <form action="/search-drugBaikeFeature" method="get">

  	<table border="1">
  	<tr>
	<td>drugClass</td>
	<td>drugName</td>
	<td>drugByName</td>
	</tr>
  	{% for eachElem in drugList %}
	<tr>
	<td> {{ eachElem.drugClass }}</td>
	<td><a  href="https://baike.baidu.com/item/{{ eachElem.drugname }}" ><input type="text" name="drugname" value={{ eachElem.drugname }}></a></td>
	<!-- <td><a  href="https://en.wikipedia.org/wiki/{{ eachElem.drugname }}" >{{ eachElem.drugname }}</a></td> -->
	<td><a href="https://en.wikipedia.org/wiki/{{ eachElem.drugByname }}" >{{ eachElem.drugByname }}</a></td>
	<!-- <td><a  href="https://baike.baidu.com/item/{{ eachElem.drugname }}" >{{ eachElem.drugname }}</a></td>
	<td><a href="https://baike.baidu.com/item/{{ eachElem.drugByname }}" >{{ eachElem.drugByname }}</a></td> -->
	</tr>
	
	{% endfor %}
	
	<tr>
	<td><input type="submit" value="getBaikeFeature"></td>
	
	</tr>

	</table>
  	
  </form>
{% endblock %}