{% extends "base.html" %}
 
{% block mainbody %}
<!--   <form action="/down" method="get"> -->
 
  	 
  	<table border="1">
  	<tr>
	
	<td>drugName</td>
	<td>click</td>
	</tr>
  	{% for eachElem in drugnames %}
	<tr>
	
	 <form action="/getDrugInfo" method="get">
	<td><input type="text" name="drugname" value={{ eachElem }}></td>
	<td><input type="submit" value="详情"></td>
	 </form>
	
	<!-- <td><a  href="https://en.wikipedia.org/wiki/{{ eachElem.drugname }}" >{{ eachElem.drugname }}</a></td> -->
	
	<!-- <td><a  href="https://baike.baidu.com/item/{{ eachElem.drugname }}" >{{ eachElem.drugname }}</a></td>
	<td><a href="https://baike.baidu.com/item/{{ eachElem.drugByname }}" >{{ eachElem.drugByname }}</a></td> -->
	</tr>
	
	{% endfor %}
	
	

	</table>
  	
 
{% endblock %}